/* syxer-switcher.component.css */
:host {
  display: flex;
  flex-direction: column;
  height: 100%; /* take full height of parent */
}

.switcher-container {
  margin-top: auto; /* pushes it to the bottom */
  margin-bottom: 30px;
  width: 100%;
  background: #f8f8f8;
}

.switcher-buttons {
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

button {
  flex: 1;
  margin: 2px;
  padding: 8px 0;
  border: none;
  background: #ddd;
  font-size: 14px;
  border-radius: 4px;
}

button.active {
  background: #4caf50;
  color: #fff;
}